body {
	display: flex;
	justify-content: center;
	align-items: center;
  }

/* Style the character div */
.character {
	width: 300px;
	height: 500px;
	margin: 20px;
	border: 5px solid black;
	border-radius: 10px;
	box-shadow: inset 0 -10px rgba(0,0,0,0.2);

  }
  
  /* Style the image */
  .character img {
	width: 100%;
	height: auto;
  }
  
  /* Style the list */
  .character ul {
	list-style-type: none;
	padding: 10px;
  }
  
  /* Style the list items */
  .character li {
	display: flex;
	justify-content: space-between;
  }
  
  /* Add a background color and a border to each attribute */
  .character li span {
	 background-color: #eee;
	 border-radius:5px; 
	 padding:5px; 
	 border:solid black thin; 
  }